@{
    ViewBag.Title = "Introduction";
}

<div class="row youAreHere">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1>
            Introduction
        </h1>
        
            <div class="progress" style="width:100%;">
                <span class="progress-bar progress-bar-success" style="width: 25%;">    
                </span>
            </div>
        
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2>Welcome to the Leading Forward Competency Assessment!</h2>
        <h3 style="text-decoration:underline;">Description:</h3>
        <p style="text-align:justify;">
            The Leading Forward Competency Assessment has been created to help you understand your leadership strengths (skill level) in relationship to your specific role (Importance). Built using twenty-six leadership competencies divided into three categories of leadership: Leading Oneself, Leading Others and Leading Organizations, each competency includes a few statements that describe the behaviors needed to perform that leadership or coaching skill. When completing the assessment, think through your answers by remembering how you might have interacted with a team member, peer, or boss.
        </p>
        <br />
        <p style="text-align:justify;">
            This assessment is to help you understand specific areas for development and choose from the Lahey Leadership Academy or outside team building sessions towards measurable results.
        </p>
        <br />
        <p style="text-align:justify;">
            After you have finished the leadership assessment, complete your development plan (located on Lahey Learning MassNet) to help you prioritize your learning objectives, identify and track measurable results and better select from Lahey Leadership Academy courses and other development offerings.
        </p>
        <h3 style="text-decoration:underline;">Directions:</h3>
        <ul>
            <li>
                Read and respond to each question thoughtfully
            </li>
            <li>
                Take this assessment in one sitting with minimal/no breaks
            </li>
            <li>
                If the question is not applicable to your role, just choose “Very Low”
            </li>
            <li>
                Twenty minutes is the approximate completion time
            </li>
            <li>
                Enter email address at finish and review received email’s attachment
            </li>
        </ul>
        <br />
            @Html.ActionLink("Take the Leading Forward Competency Assessment Now", "startPoll", "Items", null, new { @class = "btn btn-success btn-lg" })
        
        <br />
    </div>
    
</div>